<footer class="site-footer">
  <div class="gradient"></div>

  <div class="wrapper footer-padding">

    <h2 class="footer-heading">{{ site.title | escape }} 

      <div class="social-media-icons">
        
            {% if site.github_username %}
            
              {% include icon-github.html %}
            
            {% endif %}

            {% if site.twitter_username %}
            
              {% include icon-twitter.html %}
            
            {% endif %}

      </div>
    </h2>
  </div>

</footer>
