---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-content {
  color: #555555;
}

.site-header {
  border-bottom: none;
}

.site-title {
  font-family: 'Sacramento', cursive;
  float: none;
  font-size: 78px;
  line-height: 90px;
  color: black;
}

.wrapper {
  margin-top: 5px;
}

.wrapper-title {
  text-align: center;
  margin-top: 25px;
}

.gradient {
  background: linear-gradient(to right, #AAC798, #E0909B, #88BCDC, #F7E7A3, #E0909B, #88BCDC, #AAC798);
  display: inline-block;
  width: 1270px;
  height: 7px;
}

.site-nav {
  float: none;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}

.post-link {
  font-weight: bold;
  margin-bottom: 15px;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.intro {
  color: #555555;
}  

.read-more-button {
  text-transform: uppercase;
 }

.read-more-button a:hover {
  color: #2a7ae2;
}

.category {
  text-transform: uppercase;
  display:inline;
  background-color: #E0909B;
  color: black;
  padding: 2px 3px;
  border-radius: 1px;
  font-size: 15px;
}

a:visited .category {
    color: #ffffff;
}

a.site-title:hover {
  text-decoration: none;
}
